@import "bootstrap";

/* mixins, variables, etc. */

$RailsRed: #b22222;
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container{
  width: 1200px;
}
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar-inverse .navbar-inner{
	background: $RailsRed;
	border: none;
}

.row-fluid .span4 {
	  width: 30%;
	  color: #333;
}

.row {
  margin-left: 100px;
}

.info-img{
	height: 250px;
	padding: auto;
}

th{
  // border-bottom: 1px solid #999;
  background: #333;
  color: #fff;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

// li a {
// 	color: #fff;
// }

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
  color: #fff;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle{
  background-color: #333;
}

/* top page */
.top header{
	padding: 30px 0 60px 0;
}

.top{
	color: #fff;
}

.top-1 {
	margin-right: auto;
	margin-left: auto;
	width: 940px;
	background-color: $RailsRed;
	height: 400px;
}

.top-2{
	background-color: #fff;
	height: 500px;
	padding: 50px 0;
}

.top-3{
	background-color: #444;
	height: 500px;
	padding: 50px 0;
	text-align: center;
}
.top-4{
	background-color: #444;
	height: 500px;
	padding: 50px 0;
	text-align: center;
}

.top .navbar-fixed-top{
	position: static;
}

.top #logo{
	font-size: 40px;
	color: #fff;
}

.top li a{
	color: #fff !important;
	font-size: 23px !important;
}

.top-1-img {
	float: right;
}

.top-2 h2{
	margin: 0;
	font-size: 40px;
	padding-bottom: 50px;
}

.top-3 h2{
	margin: 0;
	font-size: 40px;
	padding-bottom: 50px;
	color: #fff;
}

.top-3 p{
	margin: 0;
	color: #fff;
}

.form-horizontal .controls {
	margin: 0;
}

.top-2-container{
	width:1200px;
	margin: auto;
}

.top-3 button {
	color: #fff;
}

.btn-rails {
	background-color: $RailsRed;
	border: none;
}

/* footer */

footer {
  background-color: #444;
  color: #999;
  height: 80px;
  text-align: center;
  font-size: 16px;
}

footer a {
  color: #555;
}

hr{
	margin: auto;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

/* index */

.new{
	text-align: right;
}

/* new */
#new{
	
}

#edit{
}

.form-input{
	width: 220px;
	margin: auto;
}	


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* others */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
